@model FormulaUnoObligatorio.Models.Carrera

<h2 class="text-center mb-4">Eliminar Carrera</h2>
<hr />
<h3>¿Estas seguro de que quieres eliminar la escuderia?</h3>
<br />
<div>
    <h4>@Model.NombreCarrera</h4>
    <br />
    <p><strong>Nombre Escuderia: </strong>@Model.NombreCarrera</p>
    <p><strong>Cuidad:</strong> @Model.CiudadCarrera</p>
    <p><strong>Fecha:</strong> @Model.FechaCarrera</p>
</div>

<form method="post">
    <input type="hidden" asp-for="IdCarrera" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Volver al Listado</a>
</form>
