@{
  ViewData["Title"] = "Escuderias";
 }
<h1 style="text-align: center;">Escuderias</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Escuderia</th>
            <th>Sponsor Oficial</th>
            <th>Pais</th>
        </tr>
    </thead>
     
</table>
