@model FormulaUnoObligatorio.Models.Piloto

@{
    ViewData["Title"] = "Crear Piloto";
}

<h1 style="font-family: 'Arial', sans-serif;">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePiloto" class="control-label"></label>
                <input asp-for="NombrePiloto" class="form-control" />
                <span asp-validation-for="NombrePiloto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPiloto" class="control-label"></label>
                <input asp-for="ApellidoPiloto" class="form-control" />
                <span asp-validation-for="ApellidoPiloto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisPiloto" class="control-label"></label>
                <input asp-for="PaisPiloto" class="form-control" />
                <span asp-validation-for="PaisPiloto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al LIstado de Pilotos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
