@model FormulaUnoObligatorio.Models.Piloto

<h2 class="text-center">Editar Piloto</h2>
<hr />

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="NombrePiloto" class="control-label"></label>
        <input asp-for="NombrePiloto" class="form-control" />
        <span asp-validation-for="NombrePiloto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ApellidoPiloto" class="control-label"></label>
        <input asp-for="ApellidoPiloto" class="form-control" />
        <span asp-validation-for="ApellidoPiloto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaisPiloto" class="control-label"></label>
        <input asp-for="PaisPiloto" class="form-control" />
        <span asp-validation-for="PaisPiloto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaNacimiento" class="control-label"></label>
        <input asp-for="FechaNacimiento" class="form-control" type="date" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="IdEscuderia" class="control-label"></label>
        <select asp-for="IdEscuderia" class="form-control" asp-items="ViewBag.Escuderia">
            <option value="">Seleccione una Escudería</option>
        </select>
        <span asp-validation-for="IdEscuderia" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver al Listado</a>
    </div>
</form>
